---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import Profile from '../components/Profile.astro';
import Link from '../components/Link.astro';
import { siteConfig } from '../data/config';
---

<Layout {...siteConfig.seo}>
  <Background />
  <div class="container">
    <Profile name={siteConfig.profile.name} bio={siteConfig.profile.bio} image={siteConfig.profile.image} />
    <div class="links">
      {siteConfig.links.map((link) => (
        <Link name={link.name} url={link.url} icon={link.icon} />
      ))}
    </div>
  </div>
</Layout>
